<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-1">
        <a href=""><img src="../../../assets/facebook.png" id="Facebook"></a>
    </div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Trabajo 1</h2> <h3>years</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, architecto facere et eum voluptates ad quaerat expedita suscipit. Voluptates, quidem maiores atque debitis impedit ex nulla voluptatem perspiciatis delectus consequatur?</p>
        </ul>
    </div>
    <div class="col-lg-1">
        <a href=""><img src="../../../assets/facebook.png" id="Facebook"></a>
    </div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Trabajo 2</h2> <h3>years</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, architecto facere et eum voluptates ad quaerat expedita suscipit. Voluptates, quidem maiores atque debitis impedit ex nulla voluptatem perspiciatis delectus consequatur?</p>
        </ul>
    </div>
    <div class="col-lg-1">
        <a href=""><img src="../../../assets/facebook.png" id="Facebook"></a>
    </div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Trabajo 3</h2> <h3>years</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, architecto facere et eum voluptates ad quaerat expedita suscipit. Voluptates, quidem maiores atque debitis impedit ex nulla voluptatem perspiciatis delectus consequatur?</p>
        </ul>
    </div>    
</div>

