<div class="row">
    <h2>Hard & Soft Skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="80"
    [imageSrc]="'../../../assets/HTML5pachic.png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="20"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="80"
    [radius]="80"
    [imageSrc]="'../../../assets/cssv2 (1).png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="20"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="80"
    [radius]="80"
    [imageSrc]="'../../../assets/github.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="20"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="60"
    [radius]="80"
    [imageSrc]="'../../../assets/solidity.png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="50"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="20"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="70"
    [radius]="80"
    [imageSrc]="'../../../assets/scrum2.png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="20"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="80"
    [radius]="80"
    [imageSrc]="'../../../assets/englangpachic.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="20"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="75"
    [radius]="80"
    [imageSrc]="'../../../assets/angular-icon-logo.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="20"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="15"
    [radius]="80"
    [imageSrc]="'../../../assets/Java-logo2.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="20"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="15"
    [radius]="80"
    [imageSrc]="'../../../assets'"
    [showImage]="true"
    [imageHeight]="40"
    [imageWidth]="40"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="20"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
        </circle-progress>
    </div>

</div>



<!-- ejemplo solo texto, sin imagen -->
<!-- <div><circle-progress
[percent]="71"
[radius]="100"
[showUnits]="false"
[title]="'HTML'"
[titleColor]="'blue'"
[outerStrokeWidth]="24"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress> </div> -->

