div{
    background-color: #434b4b;
    max-height: 20%;
}

.container-fluid{
    margin: 0;
    padding: 0;
    border: 0;
}

.row{
    padding: 0px;
    margin: 0px;
    border: 0;
    max-height: 20%;
}


