    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perflkdn.jpg" class="img-fluid" id="perflkdn">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Emanuel Ibañez</p>
            <P>FullStack Developer Jr</P>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de Mí</h1>
                <p>Habilidades de Liderazgo, comunicador, interés práctico en Typescript, java, blockchain, Solidity, MySql, entre otros. </p>
            </span>
        </div>
    </div>
