    <div class="row">
        <div class="col" id="divprofile">
            <img src="../../../assets/perflkdn.jpg" class="img-fluid" id="perflkdn">
        </div>
        <div class="col">
            <p id="nombre">Emanuel Ibañez</p>
            <P id="vocacion">FullStack Developer Jr</P>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 col-xl-8">
            <span>
                <h2>Acerca de Mí</h2>
                <p>Habilidades de Liderazgo, comunicador, interés práctico en Typescript, java, blockchain, Solidity, MySql, entre otros. </p>
            </span>
        </div>
    </div>
