.row{
    background-color: rgb(24, 22, 22);
}

footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #696969;
}